*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}


@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Paperlogy'; */
    font-family: var(--custom-font); 
    overflow-x: hidden;
}

#wrap{
    width: 100%;
    height: 100%;
    font-family: 'Paperlogy';
    /* overflow-x: hidden; */
}

header {
    padding: 2vw;
}

header a{
    /* font-weight: 300; */
    font-family: 'Paperlogy-4Regular';
    font-size: 2vw;
    color: #393939;
}

header .logo a{
    /* font-weight: 500; */
    font-size: 1.4vw;
    font-family: 'Paperlogy-5Medium';
}

header ul{
    border: 1px soldi green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    list-style-type: none;
}



header li:nth-child(2){
    position: relative;
    left: 22vw;
    /* font-size: 1vw; */
    /* border: 1px solid red; */
}

header li:nth-child(2) a{
    font-size: 8vw;
    color: #393939;
    font-weight: 600;
    font-family: 'Paperlogy-6SemiBold';
}

header li:nth-child(3){
    position: relative;
    right: 1vw;
    /* border: 1px solid blue; */
    
}

header li:nth-child(3) a{
    font-size: 1.4vw;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 5vw; /* 고정된 너비 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

header li:nth-child(3) a:hover{
    font-size: 1vw;
}

/* header .circle{
    width: 0.7vw;
    height: 0.7vw;
    background-color: #191919;
    position: absolute;
    left: 2.8vw;
    border-radius: 100%;
} */

.main{
    width: 100vw;
    /* height: 100%; */
}

.main h2{
    font-size: 1.2vw;
    font-weight: 400;
    padding: 2vw;
    line-height: 1.8vw;
    color: #303030;
    padding: 2vw;
    margin-bottom: 0vw;
    /* text-align: center; */
    font-family: 'Paperlogy-4Regular';
}

.main h2:nth-child(2)
{
    margin-bottom: 10vw;
    color: rgb(148, 148, 148);
}

.day{
    padding: 2vw;
    /* border: 1px solid red; */
    margin-bottom: 7vw;
}

.day ul{
    list-style-type: none;
}

.day li{
    margin-bottom: 5vw;
}

.day h1{
    font-size: 5.4vw;
    font-weight: 700;
    color: #303030;
    margin-bottom: 1.4vw;
    font-family: 'Paperlogy-7Bold';
}

.day p{
    font-size: 1.8vw;
    font-weight: 400;
    margin-bottom: 1vw;
    color: #303030;
    font-family: 'Paperlogy-4Regular';
}

.day a{
    color: #303030;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 5vw; 
    text-align: center;
    /* border: 1px solid red; */
}

.day a:hover{
    font-size: 1.5vw;
}


.topbtn{
    width: 6vw;
    height: 6vw;
    /* border: 0.15vw solid #434343; */
    border-radius: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 3vw;
    top: 122vw;
    color: #393939;
    font-size: 1.5vw;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    /* margin-bottom: 30vw; */
    font-family: 'Paperlogy-4Regular';
}

.topbtn:hover{
    background-color: #393939;
    color: #fff;
}