*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}


@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

body{
    /* font-family: 'Paperlogy'; */
    font-family: var(--custom-font); 
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

#wrap{
    width: 100%;
    /* height: 100vw; */
    font-family: 'Paperlogy';
    /* overflow-x: hidden; */
}

header {
    padding: 2vw;
}

header a{
    /* font-weight: 300; */
    font-family: 'Paperlogy-4Regular';
    font-size: 2vw;
    color: #393939;
}

header .logo a{
    /* font-weight: 500; */
    font-size: 1.4vw;
    font-family: 'Paperlogy-5Medium';
    color: #393939;
}

header ul{
    border: 1px soldi green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    list-style-type: none;
}

header li:nth-child(2){
    position: relative;
    left: 22vw;
    /* font-size: 1vw; */
    /* border: 1px solid red; */
}

header li:nth-child(2) a{
    font-size: 1.4vw;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 5vw; /* 고정된 너비 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

header li:nth-child(2) a:hover{
    font-size: 1vw;
}

header li:nth-child(3){
    position: relative;
    right: 1vw;
    /* border: 1px solid blue; */
    font-weight: 600;
}

header li:nth-child(3) a{
    font-size: 8vw;
    color: #393939;
    font-family: 'Paperlogy-6SemiBold';
}

/* header .circle{
    width: 0.7vw;
    height: 0.7vw;
    background-color: #191919;
    position: absolute;
    left: 8vw;
    top: 8vw;
    border-radius: 100%;
} */

.box{
    margin-bottom:3rem;
    white-space:nowrap;
    overflow-x:auto;
    font-family: 'Paperlogy-4Regular';
}
.box > div{
    display: inline-block;
    margin: 1vw;
}


.box img {
    filter: grayscale(100%); /* 기본 흑백 */
    transition: filter 0.5s ease; /* 부드러운 전환 */
}




/* .text-box{
    height:300px;
    padding:2rem;
} */

.container{
    /* border: 1px solid red; */
    position: relative;
    bottom: 4vw;
}
.container img{
    width: 30vw;
    height: 30vw;
}

.container h2{
    font-size: 1.1vw;
    font-weight: 400;
    color: #afafaf;
    padding: 1vw;
    position: relative;
    top: 1.3vw;
    left: 0.5vw;
    font-family: 'Paperlogy-4Regular';
}


.container h1{
    font-size: 2vw;
    font-weight: 400;
    color: #393939;
    margin-bottom: 1vw;
}


footer p{
    position: absolute;
    right: 2vw;
    bottom: -6vw;
    color: #6A6A6A;
}